<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="<%= asset_path('lang-logo.png') %>">
    </a>
    <h1>Getting Started with Ruby on Heroku</h1>
    <p>This is a sample Ruby application deployed to Heroku. It's a reasonably simple app - but a good foundation for understanding how to get the most out of the Heroku platform.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-ruby"><span class="glyphicon glyphicon-flash"></span> Getting Started on Heroku with Ruby</a>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-ruby-fir"><span class="glyphicon glyphicon-flash"></span> Getting Started on Heroku Fir with Ruby</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/ruby-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="lead">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to either of the following tutorials:
    <ul>
      <li><a href="https://devcenter.heroku.com/articles/getting-started-with-ruby" class="alert-link">Getting Started on Heroku with Ruby</a></li>
      <li><a href="https://devcenter.heroku.com/articles/getting-started-with-ruby-fir" class="alert-link">Getting Started on Heroku Fir with Ruby</a></li>
    </ul>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>This app was deployed to Heroku using Git.</li>
        <li>When Heroku received the source code, it fetched all the dependencies in the <a href="https://github.com/heroku/ruby-getting-started/blob/main/Gemfile">Gemfile</a>, creating a deployable build artifact.</li>
        <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the build artifact can be mounted and executed.</li>
        <li>You can scale your app, manage it, and deploy over <a href="https://addons.heroku.com/">150 add-on services</a>, from the Dashboard or CLI.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>If you are following the <a href="https://devcenter.heroku.com/articles/getting-started-with-ruby">Getting Started on Heroku with Ruby</a> or <a href="https://devcenter.heroku.com/articles/getting-started-with-ruby-fir">Getting Started on Heroku Fir with Ruby</a> guide, then please head back to the tutorial and follow the next steps!</li>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.heroku.com/home">Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-ruby">Getting Started on Heroku with Ruby</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-ruby-fir">Getting Started on Heroku Fir with Ruby</a></li>
        <li><a href="https://devcenter.heroku.com/categories/ruby-support">Ruby articles on the Heroku Dev Center</a></li>
      </ul>
    </div>
  </div>
  <div class="row" style="margin-top:1em">
    <div class="col-md-12">
      <p class="alert alert-info" role="alert">
        Please do work through the Getting Started guide, even if you do know how to build such an application. The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
      </p>
    </div>
  </div>
  
  <!-- Database Integration Section -->
  <div class="row" style="margin-top:2em">
    <div class="col-md-12">
      <h2><span class="glyphicon glyphicon-database"></span> Database Connection Status</h2>
      <div class="alert alert-success" role="alert">
        <strong>✓ Database Connected Successfully!</strong>
        <ul style="margin-top:10px; margin-bottom:0">
          <li>Total Widgets: <strong><%= @widget_count %></strong></li>
          <li>Total Stock: <strong><%= @total_stock %></strong></li>
        </ul>
      </div>
    </div>
  </div>
  
  <% if @widgets.any? %>
    <div class="row" style="margin-top:2em">
      <div class="col-md-12">
        <h3><span class="glyphicon glyphicon-list"></span> Recent Widgets</h3>
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Stock</th>
                <th>Created</th>
              </tr>
            </thead>
            <tbody>
              <% @widgets.each do |widget| %>
                <tr>
                  <td><strong><%= widget.name %></strong></td>
                  <td><%= widget.description %></td>
                  <td><span class="badge <%= widget.stock > 0 ? 'badge-success' : 'badge-danger' %>"><%= widget.stock %></span></td>
                  <td><%= widget.created_at.strftime("%B %d, %Y") %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <p>
          <a href="<%= widgets_path %>" class="btn btn-primary">View All Widgets</a>
          <a href="<%= new_widget_path %>" class="btn btn-success">Create New Widget</a>
        </p>
      </div>
    </div>
  <% else %>
    <div class="row" style="margin-top:2em">
      <div class="col-md-12">
        <h3><span class="glyphicon glyphicon-list"></span> Widgets</h3>
        <div class="alert alert-warning" role="alert">
          <strong>No widgets found.</strong> Get started by creating your first widget!
        </div>
        <p>
          <a href="<%= new_widget_path %>" class="btn btn-success btn-lg">Create Your First Widget</a>
        </p>
      </div>
    </div>
  <% end %>
</div>
